.middle_conatiner{
    height: 84.7vh;
    width: 100vw;
    background-image: url("https://png.pngtree.com/thumb_back/fh260/background/20210324/pngtree-abstract-playful-portfolio-pink-memphis-image_593415.jpg");
    background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  display: block;
  text-align: center;
}

.name{
    position: relative;
    top: 20vh;
    right: 30vw;
}
.n:hover{
   color: red;
   transform: 10rem ;

}

.post{

  position: relative;
  top: 20vh;
  right: 25vw;
}

.cards_container{
  display: flex;
  justify-content:space-around;
  text-align: center;
  margin: auto;
  flex-wrap: wrap;
}
